/* You can add global styles to this file, and also import other style files */
@use "assets/scss/todo";

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}

html, body {
  height: 100%;
}
