<section class="todo-list">
  <ng-container *ngFor="let todo of todoList | async">
    <mat-card [@fade]="'active'" class="todo-item">
      <mat-card-header>
        <mat-card-title class="title" ellipsis [ellipsis-content]="todo.title" [title]="todo.title"></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="todo-description" ellipsis [ellipsis-content]="todo.description" [title]="todo.description"></div>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button mat-stroked-button color="primary" (click)="editTodo(todo)">Edit</button>
        <button mat-button mat-stroked-button  color="warn" (click)="deleteTodo(todo.id)">Delete</button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</section>

